.pm-c-amount-input {
  @include themes($amount-input-themes) {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;

    &__group {
      display: flex;
      justify-content: space-between;

      height: $amount-input-group-height;
      padding: $amount-input-group-padding;

      border: 0.1rem solid themed('amount-input-border-color');
      border-radius: $amount-input-group-border-radius;
    }

    &__group--error {
      border-color: themed('amount-input-border-color--error');
    }

    &__input {
      width: 100%;
      margin: $amount-input-margin;
      padding: $amount-input-padding;

      outline: none;
      border: none;
      box-sizing: border-box;

      background-color: unset;

      font-size: 2.1rem;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;

      line-height: 1.47;
      letter-spacing: normal;
      text-align: left;

      color: #fafafa;

      ::placeholder {
        color: themed('amount-input-placeholder-color');
        opacity: 1;
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-title {
        font-size: 1.2rem;
        line-height: normal;
        font-weight: 600;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #d2d5da;
      }

      &-wallet {
        display: inline-flex;
        align-items: center;
        gap: 2px;

        strong,
        span {
          font-size: 1.3rem;
          line-height: normal;
          font-weight: bold;
          letter-spacing: 0.08em;
        }

        strong {
          color: #ffffff;
        }

        span {
          color: #637084;
        }

        figure {
          display: flex;
          align-items: center;
          margin-right: 4px;

          svg {
            fill: #a5bee4;
          }
        }
      }
    }

    &__actions {
      display: flex;

      :disabled {
        pointer-events: none;
      }
    }

    &__action {
      display: inline-flex;
      align-items: center;

      cursor: pointer;
      touch-action: manipulation;
      appearance: none;
      outline: none;
      border: none;

      margin: $amount-input-action-margin-y $amount-input-action-margin-x;
      padding: var(--size-8) var(--size-6);
      background-color: themed('amount-input-action-button-background-color');

      @extend .tiny-uppercase, .bold;
      color: themed('amount-input-action-button-color');

      border-radius: $amount-input-action-button-border-radius;
      transition: $amount-input-action-button-transitions;

      &:hover,
      &:focus,
      &--active {
        background-color: themed(
          'amount-input-action-button-background-color-hover'
        );
      }
    }

    &__logo {
      display: inline-flex;
      align-items: center;
      gap: 0.4rem;

      margin: 0rem 0.8rem;

      > span {
        color: themed('amount-input-currency-name-color');
      }
    }
  }
}
