.pm-p-leaderboard {
  @include flex-column($gap: 5);
  width: 100%;

  &__header {
    background-color: #171b23;
    border-radius: 8px;
    margin-bottom: 24px;
    border: 1px solid #252c3b;
  }

  &__nav {
    height: 44px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
  }

  &__back {
    width: 28px;
    height: 28px;
    display: inline-flex;
    border: 1px solid rgb(99 112 132 / var(--border-alpha, 0.4));
    border-radius: 8px;
    margin-right: 12px;

    &:hover {
      --border-alpha: 1;
      background-color: rgba(99, 112, 132, 0.16);
    }

    &-icon {
      margin: auto;
    }
  }

  &__content {
    padding: 32px;
    background-color: #101218;
    display: flex;
    gap: 24px;
    border-radius: 8px;
    border: 1px solid #252c3b;
    margin: -1px;

    &-image {
      flex-shrink: 0;
    }

    &-caption {
      color: var(--color-text-secondary);
    }

    &-description {
      &--gutter-bottom {
        margin-bottom: 16px;
      }
    }
  }
}

.pm-c-leaderboard-table {
  &__wallet {
    display: flex;
    gap: 12px;
    align-items: center;

    &__avatar {
      outline: 2px solid #5d55fa;
      outline-offset: 2px;
    }

    svg {
      flex-shrink: 0;
    }
  }

  &__wallet,
  &__volume,
  &__liquidity {
    white-space: nowrap;
  }

  &__achievements-list {
    position: relative;
  }

  &__achievement {
    position: absolute;
    border-radius: 50%;
    background-color: var(--color-border-3);
    border: solid 0.3rem var(--color-border-3);

    top: 50%;
    transform: translateY(-50%);

    $index: 1 2 3 4;
    $z-index: 4 3 2 1;
    $space: 0rem 2rem 4rem 6rem;

    @each $i, $z, $s in zip($index, $z-index, $space) {
      &:nth-child(#{$i}) {
        z-index: $z;
        right: $s;
      }
    }

    &--small {
      @extend .pm-c-leaderboard-table__achievement;
      height: 2.8rem;
      width: 2.8rem;
    }

    &--medium {
      @extend .pm-c-leaderboard-table__achievement;
      height: 3.2rem;
      width: 3.2rem;
    }

    &--more {
      @extend .pm-c-leaderboard-table__achievement;
      @include flex-row(center, center);
      background: map-get($colors, 'pure-white');
    }
  }

  &__rank {
    @include flex-row($justify: flex-end, $gap: 3);

    svg {
      flex-shrink: 0;
    }
  }
}

.pm-c-leaderboard-stats {
  @include flex-column($gap: 5);
  padding: map-get($spacers, 5);
  min-width: 29rem;
}

.pm-c-leaderboard-top-wallets {
  &__wallet {
    @include flex-row($gap: 3);

    svg {
      flex-shrink: 0;
    }
  }
}
