.root {
  display: flex;
  flex-direction: column;
}

.communityLands {
  &Header {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 var(--size-16);

    &Title {
      font-size: var(--size-20--rem);
      font-weight: bold;
      color: var(--color-text-1);
    }

    :global(.pm-c-tooltip__wrapper) {
      margin-left: 4px;
    }

    svg {
      height: var(--size-12);
      width: var(--size-12);

      fill: #9da3ae;
      vertical-align: middle;
    }

    margin-bottom: var(--size-16);
  }

  &List {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--size-16);

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--size-24);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    width: 100%;

    &Item {
      display: flex;
      flex-direction: column;

      background: #171b23;

      border-radius: var(--size-8);
      border: 1px solid var(--color-border);

      height: 100%;
    }
  }
}

.communityLand {
  display: flex;
  flex-direction: column;

  background: #171b23;

  border-radius: var(--size-8);
  border: 1px solid var(--color-border);

  height: 100%;

  &Content {
    display: flex;
    flex-direction: column;

    width: calc(100% + 2px);
    height: 100%;

    margin-left: -1px;
    margin-right: -1px;

    border-radius: var(--size-8);
    border: 1px solid var(--color-border);
    border-top: none;

    &Hero {
      height: 160px;

      background: var(--background-image), transparent;
      background-clip: border-box;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      transition: background-color 300ms ease-in;

      border-radius: var(--size-8);
    }

    &Body {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--size-8);

      padding: var(--size-12) var(--size-16);
    }

    &Avatar {
      flex-shrink: 0;

      height: 40px;
      width: 40px;

      &Fallback {
        background-color: #4e3df6;

        strong {
          font-size: var(--size-22--rem);
          line-height: 1.4;
          font-weight: 600;
          color: #ffffff;
        }
      }
    }

    &Title {
      font-size: var(--size-18--rem);
      font-weight: 600;
      line-height: normal;
      color: #f9fafb;

      text-overflow: ellipsis;
      overflow: hidden;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: break-all;
    }
  }

  &Footer {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 36px;
    padding: 0 var(--size-16);

    &Stats {
      display: flex;
      flex-direction: row;
      align-items: center;

      &Divider {
        margin: 0 var(--size-12);
        flex-shrink: 0;
      }

      &Item {
        display: flex;
        flex-direction: row;
        align-items: center;

        color: #637084;

        font-size: var(--size-12--rem);
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.012em;
        text-transform: uppercase;

        strong {
          margin-left: 0.3rem;
          color: #ffffff;
          font-weight: 600;
        }
      }
    }
  }
}
