.root {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  padding: 0px;
  width: var(--width, 100%);

  border-width: var(--border-width, 1px);
  border-style: solid;
  border-radius: 4px;

  transition: background-color, border-color 200ms ease-out;

  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &Status {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    padding: 4px 6px;
    margin-top: -1px;

    border-radius: 4px 4px 0px 0px;

    &Title {
      font-size: 1rem;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.08em;
      text-transform: uppercase;

      color: white;
    }

    &Icon {
      height: 10px;
      width: 10px;

      fill: white;
    }
  }
}

.size {
  @media (min-width: 1024px) {
    &Sm {
      --width: 168px;
    }
    &Md {
      min-width: 168px;
    }
  }
}

.backdrop {
  box-shadow: 0px 0px 12px rgb(var(--outcome-color) / var(--shadow-alpha, 0));
  border-color: rgb(var(--border-color) / var(--border-alpha));
  background: linear-gradient(
      0deg,
      rgb(var(--background-color) / var(--alpha-quaternary)) 0%,
      rgb(var(--background-color) / var(--alpha-quinary)) 100%
    ),
    linear-gradient(
      0deg,
      var(--color-background-secondary) 0%,
      var(--color-background-tertiary) 100%
    ),
    var(--outcome-image), rgb(var(--background-color));
  background-clip: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (min-width: 1024px) {
    box-shadow: 0px 0px 24px rgb(var(--outcome-color) / var(--shadow-alpha, 0));
  }

  &Default {
    --background-color: var(--color-background--rgb);
    --border-color: var(--color-text--rgb);
    --border-alpha: 0.1;

    &:hover {
      --border-color: var(--color-text--rgb);
      --border-alpha: 0.2;
    }
    &:disabled {
      --border-alpha: 0.16;
    }
  }
  &Success {
    --background-color: 39 171 131;
    --border-color: 39 171 131;
    --border-alpha: 0.6;
  }
  &Active {
    --background-color: var(--outcome-color);
    --shadow-alpha: 0.6;
    --border-color: var(--outcome-color);
    --border-alpha: 0.2;

    &:hover {
      --border-color: var(--outcome-color);
      --border-alpha: 0.4;
    }
  }
}

.state {
  --border-width: 1px;

  &Success {
    border-color: rgba(87, 81, 252, 0.5) !important;

    .rootStatus {
      background-color: $primary-500;
    }
  }

  &Pending {
    border-color: #9f9dff !important;
  }

  &Failed {
    border-color: #ef4444 !important;
  }
}

.variant {
  &Dashed {
    border-style: dashed;
  }
}

.content {
  padding-left: var(--size-16);
  padding-right: var(--size-16);
  margin-bottom: 2px;
  height: 68px;
  display: flex;
  align-items: center;
  gap: var(--size-8);
  text-align: initial;

  &Container {
    display: grid;
  }
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.item {
  &Start,
  &End {
    display: inherit;
  }

  &End {
    margin-left: auto;
  }
}

.primary {
  color: var(--color-text-primary);
}

.secondary {
  color: var(--color-text-secondary);
}
