.modal {
  &Dialog {
    max-width: 550px;
  }

  &Title {
    font-size: 2rem !important;
    line-height: 1.3 !important;
    font-weight: 700 !important;
    color: var(--color-text-1);
  }

  &Content {
    display: flex;
    flex-direction: column;
    gap: var(--size-24);
    padding-top: 42px;
  }

  &Item {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &Title {
      color: var(--color-text-secondary);
      font-size: 1.2rem;
      font-weight: 700;
      letter-spacing: 0.08em;
      text-transform: uppercase;
    }

    &TitleLg {
      @extend .modalItemTitle;
      font-size: 1.4rem;
    }
  }
}

.market {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-16);
  margin-top: 6px;

  &Image {
    object-fit: cover;
    width: 57px;
    height: 57px;
    border-radius: 50%;
  }

  &Title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: var(--color-text-1);
  }
}

.alert {
  padding: var(--size-20);
  border-radius: var(--size-8);
  border: 1px solid var(--color-border);

  &Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-8);
  }

  &Body {
    display: flex;
    flex-direction: column;
    gap: var(--size-12);
  }

  &Icon {
    flex-shrink: 0;
    fill: #f7c948;
  }

  &Title {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 600;
    color: #f7c948;
  }

  &Description {
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 500;
    color: var(--color-text-primary);
  }

  &Action {
    @extend .alertTitle;

    &:hover {
      color: #fbbf24;
    }
  }
}
