.prizes {
  &Prize {
    &:not(:last-of-type) {
      margin-bottom: 16px;
      padding-bottom: 16px;
      border-bottom: 1px dashed #637084;
    }

    &Primary {
      margin-bottom: 4px;
      color: #fff;
    }
  }
}
