.root {
  background-color: #171b23;
  padding: 16px;
  height: 100%;
}

.category {
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 4px;

  &Title {
    font-size: var(--size-12--rem);
    line-height: 1.33;
    font-weight: 600;
    color: #8b9cb7;

    text-overflow: ellipsis;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: break-all;
  }
}

.title {
  margin-bottom: 16px;
}
