.header {
  margin-top: var(--size-24);
  padding-left: 0;
  padding-right: 0;

  &Hero {
    padding: 12px 12px 12px 40px;

    &Content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: var(--size-24);
      width: 100%;
    }
  }
}
