.wrapper {
  margin-top: var(--size-24);
}

.root {
  display: flex;
  flex-direction: column;

  padding: 0;

  background-color: var(--color-bg-3);

  border: 1px solid var(--color-border);
  border-radius: var(--size-8);

  &Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--size-24);

    padding: var(--size-12) var(--size-16);

    &Navigation {
      display: flex;
      flex-direction: row;
      gap: var(--size-12);

      align-items: center;

      &Button {
        padding: var(--size-8) !important;

        color: #ffffff !important;
        background-color: transparent !important;

        border-radius: var(--size-8) !important;
        border: 1px solid rgba(99, 112, 132, 0.4) !important;

        &:hover {
          background-color: rgba(99, 112, 132, 0.16) !important;
        }
      }

      &Text {
        font-size: var(--size-12--rem);
        font-weight: 500;
        color: #ffffff;
        letter-spacing: 0.03em;

        text-transform: uppercase;
      }
    }

    &Actions {
      display: flex;
      flex-direction: row;
      gap: var(--size-12);

      align-items: center;

      &Button {
        padding: var(--size-8);

        color: #a5bee4;
        background-color: rgba(99, 112, 132, 0.16);

        border-radius: var(--size-6);

        &:hover {
          background-color: rgba(99, 112, 132, 0.32);
        }
      }
    }
  }

  &Hero {
    padding: 40px 12px 12px 12px;
    aspect-ratio: unset;

    @media (min-width: 768px) {
      padding: 12px 12px 12px 40px;
    }

    width: calc(100% + 2px);

    margin-left: -1px;
    margin-right: -1px;

    border: 1px solid var(--color-border);
    border-radius: var(--size-8);

    &Content {
      display: flex;
      flex-direction: column;
      gap: var(--size-24);
      width: 100%;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: var(--size-32);
      }

      &Pill {
        padding: 4px 10px !important;
        background-color: #4d3df7 !important;

        &Text {
          text-transform: uppercase;
          opacity: 0.8;
        }
      }
    }

    &Actions {
      display: none;

      @media (min-width: 768px) {
        display: flex;
        align-items: center;

        margin-top: var(--size-16);
      }
    }
  }

  &Footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--size-24);

    padding: var(--size-12) var(--size-16);
  }
}
