.nav {
  top: 0px;
  z-index: 1;
  position: sticky;
  display: flex;
  align-items: center;
  gap: var(--size-12);
  height: 64px;
  padding-left: 0;
  padding-right: 0;

  &Action {
    height: 44px !important;
  }

  @media (min-width: 1024px) {
    height: 88px;
  }
}
