.root {
  display: flex;
  flex-direction: column;
}

.upcoming {
  display: flex;
  flex-direction: column;
  gap: var(--size-24);

  margin-bottom: var(--size-24);

  @media (min-width: 1024px) {
    margin-bottom: var(--size-32);
  }
}
