.predictionsWithImage {
  &Wrapper {
    margin: 0 -24px;

    :global {
      .react-horizontal-scrolling-menu--inner-wrapper {
        margin: 0 16px !important;

        @media (min-width: 1024px) {
          margin: 0 !important;
        }

        @media (min-width: 1200px) {
          margin: 0 -16px !important;
        }
      }

      .react-horizontal-scrolling-menu--arrow-left,
      .react-horizontal-scrolling-menu--arrow-right {
        display: none !important;

        @media (min-width: 768px) {
          display: flex !important;
        }
      }
    }
  }

  &Scroll {
    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    padding: var(--size-16);
    margin: 0 var(--size-8);
    border: 1px solid var(--color-border);
    border-radius: var(--size-16);
  }

  &Item {
    margin: 0 11px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &ArrowButton {
    cursor: pointer;
    user-select: none;

    padding: 0;
    margin: 0;
    border: none;
    border-radius: 50%;

    width: var(--size-32);
    height: var(--size-32);

    background-color: transparent;
    color: var(--color-text-1);
    border: 1px solid var(--color-border);

    align-self: center;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.9;
    }

    &:disabled {
      cursor: inherit;
    }
  }
}

.predictionWithImage {
  cursor: pointer;
  user-select: none;

  display: flex;
  flex-direction: column;

  background-color: transparent;
  border: 2px solid var(--color-border);
  border-radius: var(--size-4);

  &:hover,
  &:focus,
  &Selected {
    border: 2px solid #5d55fa;

    transition: border 0.2s ease-in-out;
  }

  &Selected {
    .predictionWithImageDetails {
      background-color: var(--color-trade-prediction-progress--selected);
    }
  }

  &Image {
    height: 132px;
    width: 132px;

    border-radius: var(--size-4) var(--size-4) 0 0;
  }

  &Progress {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;

    &Wrapper {
      position: relative;
    }

    padding: var(--size-4);

    :global(.rc-progress-line-trail) {
      stroke: rgba(255, 255, 255, 0.3);
    }

    &Default {
      :global(.rc-progress-line-path) {
        stroke: #ffffff;
      }
    }

    &Winning {
      :global(.rc-progress-line-path) {
        stroke: #3ebd93;
      }
    }

    &Losing {
      :global(.rc-progress-line-path) {
        stroke: #f66b6d;
      }
    }
  }

  &Details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    gap: var(--size-8);

    padding: var(--size-12) var(--size-8);
    background-color: var(--color-trade-prediction);
    border-radius: 0 0 var(--size-4) var(--size-4);

    transition: background-color 0.2s ease-in-out;

    &Title {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -0.01em;

      color: var(--color-text-primary);

      text-overflow: ellipsis;
      overflow: hidden;

      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      word-break: break-all;
    }

    &Price {
      font-size: 1.3rem;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: -0.04em;

      color: var(--color-text-secondary);
    }
  }
}

.details {
  &Probability {
    &Arrow {
      fill: #59749b;
    }
  }
}

.actionsGroup {
  display: flex;
  flex-direction: column;
  gap: var(--size-16);
}

.terms {
  font-size: 1.4rem;
  line-height: 1.5;
  font-size: 500;
  word-break: break-all;
  color: #59749b;

  a {
    text-decoration: underline;

    &:hover {
      color: #4c6383;
    }
  }
}

.closed {
  padding: 40px;
}

.predictionCard {
  width: 360px;
  height: 100%;

  @media (min-width: 1024px) {
    width: 480px;
  }

  :global {
    .prediction-card__body {
      display: flex !important;
      flex-direction: column !important;
      justify-content: space-between !important;
      align-items: flex-start !important;

      @media (min-width: 1024px) {
        gap: var(--size-16);
      }

      height: 100%;
    }

    .pm-c-market__body {
      align-items: center !important;

      &-details {
        .breadcrumb,
        p {
          text-overflow: ellipsis;
          overflow: hidden;

          display: -webkit-box;
          -webkit-box-orient: vertical;
          word-break: break-all;
        }

        .breadcrumb {
          -webkit-line-clamp: 1;
        }

        p {
          -webkit-line-clamp: 2;
        }
      }
    }

    .pm-c-market-outcomes {
      @media (min-width: 576px) {
        width: 100% !important;
      }

      li {
        button {
          @media (min-width: 1024px) {
            width: 100% !important;
          }
        }
      }
    }

    .pm-c-market-footer__group--row {
      .pm-c-market-footer__divider--circle,
      .pm-c-market-footer__tags {
        display: none;
      }
    }
  }
}
