.header {
  background: linear-gradient(
    180deg,
    transparent 0%,
    var(--color-surface-tertiary) 100%
  );
  padding: 0;
  margin-top: var(--size-8);

  &Hero {
    padding: 40px 90px 40px 40px;
  }
}
