.root {
  display: flex;
  flex-direction: column;

  background-color: #202939;
  border: 1px solid var(--color-border);
  border-radius: var(--size-4);
  box-shadow: 0px 5px 14px 0px var(--color-shadow);
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-16);

  padding: var(--size-16);

  &Avatar {
    flex-shrink: 0;
  }

  &Title {
    font-size: var(--size-22--rem);
    line-height: 1.4;
    font-weight: 600;
    color: var(--color-text-1);
  }
}
